<div>
  <div (click)="clickOnPoke()">
        <img src="{{image}}{{unObjPokemon.id}}.png">
        <h4>{{unObjPokemon.nom}}</h4>
        Catégorie : <span>{{unObjPokemon.categorie}}</span><br>
        Type : <span *ngFor="let t of unObjPokemon.type; let dernier = last"> <span>{{t}}</span> <span *ngIf="!dernier">,</span> </span><br>
        Taille : <span *ngIf="unObjPokemon.taille; else na">{{unObjPokemon.taille}} m</span><br>
        <ng-template #na>N/A</ng-template>
        Poids : <span *ngIf="unObjPokemon.poids; else na">{{unObjPokemon.poids}} kg</span><br>
  </div>
</div>


