

<div class="columns">
  <div class="column is-desktop">
    <a routerLink="Accueil">
      <img src="{{imagePok}}">
    </a>
  </div>


  <div class="column">
    <div class="tabs is-centered">
      <ul>
        <li><a routerLink="Generations">Générations</a></li>
        <li><a routerLink="Pokemons">Pokémons</a></li>
        <li><a routerLink="Connexion">Se Connecter</a></li>
        <li><a routerLink="CreationCompte">Créer un compte</a></li>
      </ul>
    </div>

</div>
























